<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Form</title>
  </head>
  <body>
    <h1>Edit Form</h1>
    <form action="/update/<%= id %>" method="post">
      <label>Car Name:</label>
      <input
        type="text"
        name="carname"
        value="<%= user.carname %>"
        required
      /><br />
      <label>Car Color:</label>
      <input
        type="text"
        name="carcolor"
        value="<%= user.carcolor %>"
        required
      /><br />
      <label>Car Model:</label>
      <input
        type="number"
        name="carmodel"
        value="<%= user.carmodel %>"
        required
      /><br />
      <button type="submit">Update</button>
    </form>
  </body>
</html>
